body {
    background-color: whiteSmoke;
}

h1 {
    font-size: 60px;
}

#prompt {
  margin-left: 30px;
  margin-top: 80px;
  font-size: 20px;
}

#categoryCheckbox {
    display: none;
}

.radioB, .inputP{
    display: none;
}

#yesNoButtons {
    display: none;
    margin-top: 50px;
    margin-left: 300px;
    width: 400px;
    padding-left: 75px;
    /* padding-right: 10px; */
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: MediumAquaMarine;
}

#yes {
  border: 1px solid white;
  height: 80px;
  width: 120px;
}

#no {
  border: 1px solid white;
  height: 80px;
  width: 120px;
}

.field {
    margin-left: 25px;
}

#userInputDollars {
    height: 150px;
    font-size: 50px;
    /* margin-left: 25px; */
}

#submit {
    height: 80px;
    width: 200px;
    margin-left: 300px;

}

#categoryCheckbox {
    height: 150px;
    width: 300px;
    background-color: MediumAquaMarine;
    color: white;
    border: none;
    padding: 20px;
    height: 220px;
    margin-left: 200px;
    margin-top: 30px;
    font-size: 20px;

}

#percentageAllocator {
    display: none;
}

#percentageAllocatorButton {
    display: none;
}

.footer {
  background-color: grey;
  margin-top: 300px;
  height: 1px;
}
