/* testing link with background color */

body {
    /* background-color: rgba(200, 128, 128, 1); */
    background-color: whiteSmoke;
}

#userInput {
    display: none;
}

#categoryCheckbox {
    display: none;
}

.dropdown {
    display: none;
}
